@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --secondary-color: #583d72;
  --primary-color: #ffc996;
  --white: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*--------------------navbar----------------------*/

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  background-color: var(--primary-color);
  padding: 7px 14px;
  border-radius: 5px;
  font-weight: 700;
  display: inline-block;
  transition: all 0.3s ease;
  font-size: 1rem;
  color: var(--secondary-color);
  text-decoration: none;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  opacity: 1;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

header {
  background-color: var(--secondary-color);
}

header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header a {
  color: var(--primary-color);
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

header a:hover {
  opacity: 0.7;
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}
